@import './custom.less';

@content2: content2;
.@{content2} {
  border-bottom: 1px solid #2a2580;
  text-align: center;
  > h1, > p {
    text-align: center;
    position: relative;
  }
  div{
    > h1{
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 20px;
      div{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
  &-contentWrapper {
    position: relative;
    min-width: 1200px;
    ul {
      > li {
        display: inline-block;
        width: 33.33%;
        padding-top:45px;
        vertical-align: top;
        .img {
          display: inline-block;
          vertical-align: top;
        }
        .text {
          font-family: HiraginoSansGB-W3;
          color:#fff;
          width: 100%;
          display: inline-block;
          padding-top: 5%;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{content2}-wrapper {
    height: 100%;
    .@{content2} {
      border-bottom:0;
      height: 100% !important;
      top: -3rem;//-150px
      overflow: hidden;
      width: 90%;
      margin: auto;
      div{
        .title{
          font-size: 0.32rem;
        }
        > h1 {
          position: relative;
          top: auto;
          margin: 0.8rem auto 0.4rem;//40px auto 20px
          font-size: 0.32rem;//17pt
          > p{
            position: relative;
            top:-20px;
          }
        }
      }
      &-contentWrapper {
        top: auto;
        min-width: 5.76rem;
        margin: 0.4rem auto;//20px
        height: auto;
        ul {
          li:nth-of-type(odd),li:nth-of-type(even){
            border-top: 1px solid #2a2580;
            
          }
          li:nth-of-type(odd){
            border-right: 1px solid #2a2580;
          }
          li:first-child,li:first-child+li {
            border-top: 0;
          }

          > li {
            width: 50%;
            position: relative;
            margin: auto;
            img{
              width: 2rem;
              height: 2rem;
            }

            p {
              font-size: 0.3rem;//13pt
              padding: 0.6rem 0.2rem 1rem 0.2rem;//30px 0 50px 0;
            }
            &.queue-anim-leaving {
              position: relative !important;
            }
          }
        }
      }
    }
  }
}
