@import './custom.less';

@content2: content2;
.@{content2} {
  border-bottom: 1px solid #2a2580;
  height: 50vh;
  text-align: center;
  > h1, > p {
    text-align: center;
    position: relative;
    top: 15%;
  }
  > h1{
    display: inline-block;
    padding: 5px 125px;
    background: url("../../../assets/images/interspersed.png") no-repeat center;
    background-size:100% 100%;
  }
  &-contentWrapper {
    position: relative;
    top: 87px;
    height: 60%;
    ul {
      > li {
        display: inline-block;
        width: 33.33%;
        padding: 6% 5% 0;
        vertical-align: top;
        .img {
          img{
            width: 95px;
            height: 110px;
          }
          display: inline-block;
          vertical-align: top;
        }
        .text {
          font-family: HiraginoSansGB-W3;
          color:#fff;
          width: 100%;
          display: inline-block;
          padding-top: 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{content2}-wrapper {
    height: 920px;
    .@{content2} {
      overflow: hidden;
      width: 90%;
      margin: auto;
      > h1, > p {
        position: relative;
        top: auto;
      }
      > h1 {
        margin: 40px auto 20px;
        font-size: 24px;
      }
      &-contentWrapper {
        top: auto;
        margin: 20px auto;
        height: auto;
        ul {
          > li {
            position: relative;
            width: 90%;
            margin: auto;
            display: block;
            h1 {
              font-size: 20px;
            }
            &.queue-anim-leaving {
              position: relative !important;
            }
          }
        }
      }
    }
  }
}
