@import './custom.less';

@content0: content0;

.@{content0} {
  width:  100%;
  >div h1 {
    text-align: center;
    position: relative;
    margin: 0 auto 50px;
  }
  &-content{
    > p{
      font-family: PingFangSC-Regular;
      font-size: 16px;
      line-height: 32px;
      color: aliceblue;
      text-align:center;
    }
  }


}

@media screen and (max-width: 767px) {
  .@{content0}-wrapper {
    height: 365px;
    .@{content0} {
      position: relative;
      top:-150px;
      height: inherit !important;
      overflow: hidden;
      width: 90%;
      margin: auto;
      text-align: center;
      .phone-content2{
        border-radius: 15px;
        background-color: aliceblue;
        > h1{
          padding-top: 30px;
          color:@main-bg-color;
          font-size: 16pt;
          font-family: Futura-Bold;
          display: inline-block;
          top: auto;
          margin: 0;
          div{
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
        }

        .content0-content{
          > p{
            height: 100%;
            text-indent:2em;
            line-height: 1.5em;
            padding:18px;
            font-family: PingFangSC-Regular;
            font-size: 13pt;
            color: #000;
            text-align:left;
          }
        }
      }
    }
  }
}
