@import './custom.less';

@content4: content4;
.@{content4} {
  text-align: center;
  div{
    & > h1, & > p {
      text-align: center;
      color: #fff;
    }
    & > h2{
      font-size: 22px !important;
      color: #fff;
      margin-bottom: 20px;
    }
    & > h1{
      display:inline-block;
      padding: 15px;
      margin-bottom: 50px;
      div{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      > p{
        position: relative;
        top: -20px;
      }
    }
  }

  &-img-wrapper , &-img-wrapper2 {
    width: 98%;
    margin: auto;
    display: inline-block;
    & li {
      width: 25%;
      padding: 1%;
      float: left;
      & .content-wrapper {
        border: 1px solid #2a2580 !important;
        display: block;
        border-radius: 6px;
        padding: 10px;
        text-align:8 center;
        height: 390px;
        position: relative;
        overflow: hidden;
        span{
          img{
            margin: 10px 0;
            height: 80px;
            width: 80px;
          }
        }
        h3{
          color: #CAC8FB;
          font-size: 16px;
          margin-bottom: 10px;
          font-family: AppleGothic;
        }
        p{
          color:#CAC8FB;
          font-size: 15px;
          line-height: 24px;
          font-family: PingFangSC-Regular;
        }
        .page-pro();
        transition: box-shadow .3s @ease-out, transform .3s @ease-out;
      }
    }
  }
  .counselorP{
    position: relative;
    margin-top: 20px;
  }
  &-img-wrapper2 {
    top: 680px;
  }
}

@media screen and (max-width: 767px) {
  .@{content4}-wrapper {
    height: 700px !important;
    overflow: hidden;
    .@{content4} {
      height: 100% !important;
      width: 90%;
      div{
        h1 {
          position: relative;
          font-size: 0.32rem;//24px
          margin: 0 auto 0.4rem;//20px
        }
        p{
          font-size: 0.32rem;//24px
          font-family: PingFangSC-Semibold;
        }
        .bannerAnmin{
          position: absolute;
          width: 90%;
          height: 420px;
          border: 1px solid #2a2580 !important;
          bottom: -120px;
          top: 0px;
          margin: auto;
          left: 0;
          right: 0;
          .border-radius-setting(15px);
          overflow: hidden;
          background-color: #060439;
        }
        .banner-user{
          height: 520px;
          width: 85%;
          margin: 0px auto;
          position: relative;
          z-index: 10;
          .banner-user-elem{
            top:38px;
            height: 400px;
            img{
              // width: 25%;
              width: 1.7rem;
              height: 1.7rem;
              position: relative;
              top: -0.7rem;
            }
          }
          .banner-user-title{
            top: -0.5rem;//30px
            color: #fff;
            font-size: 0.35rem;//18px
          }
          .banner-user-text{
            max-height: 305px;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
            text-align: left;
            line-height: 28px;
            color: #CAC8FB;
            font-size: 16px;//0.34rem
          }
        }
        .next,.prev{
          display: none;
        }
      }


      .counselorP{
        padding-top: 1650px;
      }
      &-img-wrapper2 {
        top: 1880px !important;
      }

    }
  }

}
