#nav_0_0, #content_10_0, #content_9_0, #content_2_0, #content_4_0, #content_3_0, #content_6_0, #footer_0_0{
  min-width: 1220px;
  border: 1px solid red;
}


.content0{
  height: 600px !important;
}
.content2{
  height: 700px !important;
}

.pcContent{
  top:50%;  left:50%; transform: translateX(-50%) translateY(-50%);
  position: absolute;
}


@media screen and (max-width: 767px) {
  .content-template{
    width: 100%;
  }
  #nav_0_0, #content_10_0, #content_9_0, #content_2_0, #content_4_0, #content_3_0, #content_6_0, #footer_0_0{
    min-width: 0px;
  }
}
